In [11]:
import pandas as pd

In [12]:
movies = pd.read_csv(r'C:\Users\DVILA\Downloads\hp-dashboard\hp-dashboard\soudatadrivendata\Movies.csv', sep=',', encoding='latin1')                  
movies

,ï»¿Movie ID,Movie Title,Release Year,Runtime,Budget,Box Office
0,1,Harry Potter and the Philosopher's Stone,2001,152,"$125,000,000","$1,002,000,000"
1,2,Harry Potter and the Chamber of Secrets,2002,161,"$100,000,000","$880,300,000"
2,3,Harry Potter and the Prisoner of Azkaban,2004,142,"$130,000,000","$796,700,000"
3,4,Harry Potter and the Goblet of Fire,2005,157,"$150,000,000","$896,400,000"
4,5,Harry Potter and the Order of the Phoenix,2007,138,"$150,000,000","$942,000,000"
5,6,Harry Potter and the Half-Blood Prince,2009,153,"$250,000,000","$943,200,000"
6,7,Harry Potter and the Deathly Hallows Part 1,2010,146,"$200,000,000","$976,900,000"
7,8,Harry Potter and the Deathly Hallows Part 2,2011,130,"$250,000,000","$1,342,000,000"

In [13]:
# Corrigindo nome da coluna
movies = movies.rename(columns={'ï»¿Movie ID': 'Movie ID'})

In [14]:
# Corrigindo a formatação da coluna 'Budget'
movies['Budget'] = movies['Budget'].str.replace('$', '', regex=False).str.replace(',', '', regex=False)

# Corrigindo a formatação da coluna 'Box Office'
movies['Box Office'] = movies['Box Office'].str.replace('$', '', regex=False).str.replace(',', '', regex=False)

In [15]:
movies

,Movie ID,Movie Title,Release Year,Runtime,Budget,Box Office
0,1,Harry Potter and the Philosopher's Stone,2001,152,125000000,1002000000
1,2,Harry Potter and the Chamber of Secrets,2002,161,100000000,880300000
2,3,Harry Potter and the Prisoner of Azkaban,2004,142,130000000,796700000
3,4,Harry Potter and the Goblet of Fire,2005,157,150000000,896400000
4,5,Harry Potter and the Order of the Phoenix,2007,138,150000000,942000000
5,6,Harry Potter and the Half-Blood Prince,2009,153,250000000,943200000
6,7,Harry Potter and the Deathly Hallows Part 1,2010,146,200000000,976900000
7,8,Harry Potter and the Deathly Hallows Part 2,2011,130,250000000,1342000000

In [16]:
urls = []


for i in range(1, 9):
    url = f"https://raw.githubusercontent.com/viladavi6/hp-dashboard/refs/heads/master/images/movies/{i}.png"
    urls.append(url)


movies['Url'] = urls

In [17]:
movies

,Movie ID,Movie Title,Release Year,Runtime,Budget,Box Office,Url
0,1,Harry Potter and the Philosopher's Stone,2001,152,125000000,1002000000,https://raw.githubusercontent.com/viladavi6/hp...
1,2,Harry Potter and the Chamber of Secrets,2002,161,100000000,880300000,https://raw.githubusercontent.com/viladavi6/hp...
2,3,Harry Potter and the Prisoner of Azkaban,2004,142,130000000,796700000,https://raw.githubusercontent.com/viladavi6/hp...
3,4,Harry Potter and the Goblet of Fire,2005,157,150000000,896400000,https://raw.githubusercontent.com/viladavi6/hp...
4,5,Harry Potter and the Order of the Phoenix,2007,138,150000000,942000000,https://raw.githubusercontent.com/viladavi6/hp...
5,6,Harry Potter and the Half-Blood Prince,2009,153,250000000,943200000,https://raw.githubusercontent.com/viladavi6/hp...
6,7,Harry Potter and the Deathly Hallows Part 1,2010,146,200000000,976900000,https://raw.githubusercontent.com/viladavi6/hp...
7,8,Harry Potter and the Deathly Hallows Part 2,2011,130,250000000,1342000000,https://raw.githubusercontent.com/viladavi6/hp...

In [18]:
# Adicionando dados extras

new_values = [0, '8 Movies', '', '', '', '', 'https://raw.githubusercontent.com/viladavi6/hp-dashboard/refs/heads/master/images/movies/0.png']

movies.loc[len(movies)] = new_values

movies

,Movie ID,Movie Title,Release Year,Runtime,Budget,Box Office,Url
0,1,Harry Potter and the Philosopher's Stone,2001,152,125000000,1002000000,https://raw.githubusercontent.com/viladavi6/hp...
1,2,Harry Potter and the Chamber of Secrets,2002,161,100000000,880300000,https://raw.githubusercontent.com/viladavi6/hp...
2,3,Harry Potter and the Prisoner of Azkaban,2004,142,130000000,796700000,https://raw.githubusercontent.com/viladavi6/hp...
3,4,Harry Potter and the Goblet of Fire,2005,157,150000000,896400000,https://raw.githubusercontent.com/viladavi6/hp...
4,5,Harry Potter and the Order of the Phoenix,2007,138,150000000,942000000,https://raw.githubusercontent.com/viladavi6/hp...
5,6,Harry Potter and the Half-Blood Prince,2009,153,250000000,943200000,https://raw.githubusercontent.com/viladavi6/hp...
6,7,Harry Potter and the Deathly Hallows Part 1,2010,146,200000000,976900000,https://raw.githubusercontent.com/viladavi6/hp...
7,8,Harry Potter and the Deathly Hallows Part 2,2011,130,250000000,1342000000,https://raw.githubusercontent.com/viladavi6/hp...
8,0,8 Movies,,,,,https://raw.githubusercontent.com/viladavi6/hp...

In [19]:
# Salvando
output_path = r'C:\Users\DVILA\Downloads\hp-dashboard\hp-dashboard\data\Movies.xlsx'


movies.to_excel(output_path, index=False, engine='openpyxl', sheet_name='movies')